.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1E4095;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: driveAnimation 1s infinite;
}

.scrollToTop:hover::before {
  content: "Subir";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1E4095;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.scrollToTop.visible {
  opacity: 1;
}

@keyframes driveAnimation {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0px) translateY(-3px);
  }
  50% {
    transform: translateX(0px) translateY(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}