.header {
  background: linear-gradient(to right, #1E4095, #1F77D0);
  color: #ffff;
  margin: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navList a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.h3Name {
  margin-right: 1200px;
  margin-left: 100px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-left: 10px;
  }
}

.navList a:hover {
  color: #f0f0f0;
  transition: color 0.3s ease;
  font-weight: bold;
}

@keyframes driveAnimation {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0px) translateY(-3px);
  }
  50% {
    transform: translateX(0px) translateY(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
